{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Dados gerais</title>
{% endblock %}
   
{% block container %}
    <div class="header">
        <span>Dados gerais</span>
    </div>
  
  <div class="divTable">
     <h5>Projeto</h5><br>
     <h6>CRUD básico com agenda de tarefas.</h6>
     <p>Desenvolvido por: Denise, Jéssica e Lilia</p><br>
     <h5>Sobre</h5><br>
    <p>Este trabalho foi desenvolvido por alunas do curso de <abbr title="Tecnologia em Análise e Desenvolvimento de Sistemas">TADS</abbr> do módulo V durante a disciplina de Engenharia de Software IV. Esse site serve apenas para praticarmos testes utilizando o framework Django. Essa aplicação web não possui objetivo direto.</p><br>
    <h5>Profissão</h5><br>
    <p>Futuras Analistas de Sistemas</p><br>
    <h5>Educação</h5><br>
    <p>Graduandas em Analise e Desenvolvimento de Sistemas</p>
  </div>


{% endblock %}